DistributedDebugger/src/DistributedDebugger.Tools/obj/rider.project.restore.info
DistributedDebugger/src/DistributedDebugger.Tools/obj/rider.project.model.nuget.info
DistributedDebugger/src/DistributedDebugger.Tools/obj/project.packagespec.json
DistributedDebugger/src/DistributedDebugger.Tools/obj/project.nuget.cache
DistributedDebugger/src/DistributedDebugger.Tools/obj/project.assets.json
DistributedDebugger/src/DistributedDebugger.Tools/obj/DistributedDebugger.Tools.csproj.nuget.g.targets
DistributedDebugger/src/DistributedDebugger.Tools/obj/DistributedDebugger.Tools.csproj.nuget.g.props
DistributedDebugger/src/DistributedDebugger.Tools/obj/DistributedDebugger.Tools.csproj.nuget.dgspec.json
DistributedDebugger/src/DistributedDebugger.Tools/obj/Debug/net9.0/refint/DistributedDebugger.Tools.dll
DistributedDebugger/src/DistributedDebugger.Tools/obj/Debug/net9.0/ref/DistributedDebugger.Tools.dll
DistributedDebugger/src/DistributedDebugger.Tools/obj/Debug/net9.0/DistributedDebugger.Tools.sourcelink.json
DistributedDebugger/src/DistributedDebugger.Tools/obj/Debug/net9.0/DistributedDebugger.Tools.pdb
DistributedDebugger/src/DistributedDebugger.Tools/obj/Debug/net9.0/DistributedDebugger.Tools.GlobalUsings.g.cs
DistributedDebugger/src/DistributedDebugger.Tools/obj/Debug/net9.0/DistributedDebugger.Tools.GeneratedMSBuildEditorConfig.editorconfig
DistributedDebugger/src/DistributedDebugger.Tools/obj/Debug/net9.0/DistributedDebugger.Tools.dll
DistributedDebugger/src/DistributedDebugger.Tools/obj/Debug/net9.0/DistributedDebugger.Tools.csproj.FileListAbsolute.txt
DistributedDebugger/src/DistributedDebugger.Tools/obj/Debug/net9.0/DistributedDebugger.Tools.csproj.CoreCompileInputs.cache
DistributedDebugger/src/DistributedDebugger.Tools/obj/Debug/net9.0/DistributedDebugger.Tools.csproj.AssemblyReference.cache
DistributedDebugger/src/DistributedDebugger.Tools/obj/Debug/net9.0/DistributedDebugger.Tools.assets.cache
DistributedDebugger/src/DistributedDebugger.Tools/obj/Debug/net9.0/DistributedDebugger.Tools.AssemblyInfoInputs.cache
DistributedDebugger/src/DistributedDebugger.Tools/obj/Debug/net9.0/DistributedDebugger.Tools.AssemblyInfo.cs
DistributedDebugger/src/DistributedDebugger.Tools/obj/Debug/net9.0/Distribu.11EF703C.Up2Date
DistributedDebugger/src/DistributedDebugger.Tools/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
DistributedDebugger/src/DistributedDebugger.Tools/CloudWatch/CloudWatchLogSearchTool.cs
DistributedDebugger/src/DistributedDebugger.Tools/bin/Debug/net9.0/DistributedDebugger.Tools.pdb
DistributedDebugger/src/DistributedDebugger.Tools/bin/Debug/net9.0/DistributedDebugger.Tools.dll
DistributedDebugger/src/DistributedDebugger.Tools/bin/Debug/net9.0/DistributedDebugger.Tools.deps.json
DistributedDebugger/src/DistributedDebugger.Tools/bin/Debug/net9.0/DistributedDebugger.Core.pdb
DistributedDebugger/src/DistributedDebugger.Tools/bin/Debug/net9.0/DistributedDebugger.Core.dll
DistributedDebugger/src/DistributedDebugger.Core/obj/rider.project.restore.info
DistributedDebugger/src/DistributedDebugger.Core/obj/rider.project.model.nuget.info
DistributedDebugger/src/DistributedDebugger.Core/obj/project.packagespec.json
DistributedDebugger/src/DistributedDebugger.Core/obj/project.nuget.cache
DistributedDebugger/src/DistributedDebugger.Core/obj/project.assets.json
DistributedDebugger/src/DistributedDebugger.Core/obj/DistributedDebugger.Core.csproj.nuget.g.targets
DistributedDebugger/src/DistributedDebugger.Core/obj/DistributedDebugger.Core.csproj.nuget.g.props
DistributedDebugger/src/DistributedDebugger.Core/obj/DistributedDebugger.Core.csproj.nuget.dgspec.json
DistributedDebugger/src/DistributedDebugger.Core/obj/Debug/net9.0/refint/DistributedDebugger.Core.dll
DistributedDebugger/src/DistributedDebugger.Core/obj/Debug/net9.0/ref/DistributedDebugger.Core.dll
DistributedDebugger/src/DistributedDebugger.Core/obj/Debug/net9.0/DistributedDebugger.Core.sourcelink.json
DistributedDebugger/src/DistributedDebugger.Core/obj/Debug/net9.0/DistributedDebugger.Core.pdb
DistributedDebugger/src/DistributedDebugger.Core/obj/Debug/net9.0/DistributedDebugger.Core.GlobalUsings.g.cs
DistributedDebugger/src/DistributedDebugger.Core/obj/Debug/net9.0/DistributedDebugger.Core.GeneratedMSBuildEditorConfig.editorconfig
DistributedDebugger/src/DistributedDebugger.Core/obj/Debug/net9.0/DistributedDebugger.Core.dll
DistributedDebugger/src/DistributedDebugger.Core/obj/Debug/net9.0/DistributedDebugger.Core.csproj.FileListAbsolute.txt
DistributedDebugger/src/DistributedDebugger.Core/obj/Debug/net9.0/DistributedDebugger.Core.csproj.CoreCompileInputs.cache
DistributedDebugger/src/DistributedDebugger.Core/obj/Debug/net9.0/DistributedDebugger.Core.assets.cache
DistributedDebugger/src/DistributedDebugger.Core/obj/Debug/net9.0/DistributedDebugger.Core.AssemblyInfoInputs.cache
DistributedDebugger/src/DistributedDebugger.Core/obj/Debug/net9.0/DistributedDebugger.Core.AssemblyInfo.cs
DistributedDebugger/src/DistributedDebugger.Core/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
DistributedDebugger/src/DistributedDebugger.Core/bin/Debug/net9.0/DistributedDebugger.Core.pdb
DistributedDebugger/src/DistributedDebugger.Core/bin/Debug/net9.0/DistributedDebugger.Core.dll
DistributedDebugger/src/DistributedDebugger.Core/bin/Debug/net9.0/DistributedDebugger.Core.deps.json
DistributedDebugger/src/DistributedDebugger.Cli/obj/rider.project.restore.info
DistributedDebugger/src/DistributedDebugger.Cli/obj/rider.project.model.nuget.info
DistributedDebugger/src/DistributedDebugger.Cli/obj/project.packagespec.json
DistributedDebugger/src/DistributedDebugger.Cli/obj/project.nuget.cache
DistributedDebugger/src/DistributedDebugger.Cli/obj/project.assets.json
DistributedDebugger/src/DistributedDebugger.Cli/obj/DistributedDebugger.Cli.csproj.nuget.g.targets
DistributedDebugger/src/DistributedDebugger.Cli/obj/DistributedDebugger.Cli.csproj.nuget.g.props
DistributedDebugger/src/DistributedDebugger.Cli/obj/DistributedDebugger.Cli.csproj.nuget.dgspec.json
DistributedDebugger/src/DistributedDebugger.Cli/obj/Debug/net9.0/refint/debugger.dll
DistributedDebugger/src/DistributedDebugger.Cli/obj/Debug/net9.0/ref/debugger.dll
DistributedDebugger/src/DistributedDebugger.Cli/obj/Debug/net9.0/DistributedDebugger.Cli.sourcelink.json
DistributedDebugger/src/DistributedDebugger.Cli/obj/Debug/net9.0/DistributedDebugger.Cli.GlobalUsings.g.cs
DistributedDebugger/src/DistributedDebugger.Cli/obj/Debug/net9.0/DistributedDebugger.Cli.genruntimeconfig.cache
DistributedDebugger/src/DistributedDebugger.Cli/obj/Debug/net9.0/DistributedDebugger.Cli.GeneratedMSBuildEditorConfig.editorconfig
DistributedDebugger/src/DistributedDebugger.Cli/obj/Debug/net9.0/DistributedDebugger.Cli.csproj.FileListAbsolute.txt
DistributedDebugger/src/DistributedDebugger.Cli/obj/Debug/net9.0/DistributedDebugger.Cli.csproj.CoreCompileInputs.cache
DistributedDebugger/src/DistributedDebugger.Cli/obj/Debug/net9.0/DistributedDebugger.Cli.csproj.AssemblyReference.cache
DistributedDebugger/src/DistributedDebugger.Cli/obj/Debug/net9.0/DistributedDebugger.Cli.assets.cache
DistributedDebugger/src/DistributedDebugger.Cli/obj/Debug/net9.0/DistributedDebugger.Cli.AssemblyInfoInputs.cache
DistributedDebugger/src/DistributedDebugger.Cli/obj/Debug/net9.0/DistributedDebugger.Cli.AssemblyInfo.cs
DistributedDebugger/src/DistributedDebugger.Cli/obj/Debug/net9.0/Distribu.DC9B1B00.Up2Date
DistributedDebugger/src/DistributedDebugger.Cli/obj/Debug/net9.0/debugger.pdb
DistributedDebugger/src/DistributedDebugger.Cli/obj/Debug/net9.0/debugger.dll
DistributedDebugger/src/DistributedDebugger.Cli/obj/Debug/net9.0/apphost.exe
DistributedDebugger/src/DistributedDebugger.Cli/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
DistributedDebugger/src/DistributedDebugger.Cli/bin/Debug/net9.0/System.Text.Json.dll
DistributedDebugger/src/DistributedDebugger.Cli/bin/Debug/net9.0/System.Text.Encodings.Web.dll
DistributedDebugger/src/DistributedDebugger.Cli/bin/Debug/net9.0/System.Net.ServerSentEvents.dll
DistributedDebugger/src/DistributedDebugger.Cli/bin/Debug/net9.0/System.Memory.Data.dll
DistributedDebugger/src/DistributedDebugger.Cli/bin/Debug/net9.0/System.IO.Pipelines.dll
DistributedDebugger/src/DistributedDebugger.Cli/bin/Debug/net9.0/System.Diagnostics.DiagnosticSource.dll
DistributedDebugger/src/DistributedDebugger.Cli/bin/Debug/net9.0/System.ClientModel.dll
DistributedDebugger/src/DistributedDebugger.Cli/bin/Debug/net9.0/runtimes/win/lib/net9.0/System.Text.Encodings.Web.dll
DistributedDebugger/src/DistributedDebugger.Cli/bin/Debug/net9.0/runtimes/browser/lib/net8.0/System.Text.Encodings.Web.dll
DistributedDebugger/src/DistributedDebugger.Cli/bin/Debug/net9.0/OpenAI.dll
DistributedDebugger/src/DistributedDebugger.Cli/bin/Debug/net9.0/Microsoft.Extensions.Primitives.dll
DistributedDebugger/src/DistributedDebugger.Cli/bin/Debug/net9.0/Microsoft.Extensions.Options.dll
DistributedDebugger/src/DistributedDebugger.Cli/bin/Debug/net9.0/Microsoft.Extensions.Logging.Abstractions.dll
DistributedDebugger/src/DistributedDebugger.Cli/bin/Debug/net9.0/Microsoft.Extensions.Hosting.Abstractions.dll
DistributedDebugger/src/DistributedDebugger.Cli/bin/Debug/net9.0/Microsoft.Extensions.FileProviders.Abstractions.dll
DistributedDebugger/src/DistributedDebugger.Cli/bin/Debug/net9.0/Microsoft.Extensions.Diagnostics.Abstractions.dll
DistributedDebugger/src/DistributedDebugger.Cli/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
DistributedDebugger/src/DistributedDebugger.Cli/bin/Debug/net9.0/Microsoft.Extensions.Configuration.Abstractions.dll
DistributedDebugger/src/DistributedDebugger.Cli/bin/Debug/net9.0/DistributedDebugger.Tools.pdb
DistributedDebugger/src/DistributedDebugger.Cli/bin/Debug/net9.0/DistributedDebugger.Tools.dll
DistributedDebugger/src/DistributedDebugger.Cli/bin/Debug/net9.0/DistributedDebugger.Core.pdb
DistributedDebugger/src/DistributedDebugger.Cli/bin/Debug/net9.0/DistributedDebugger.Core.dll
DistributedDebugger/src/DistributedDebugger.Cli/bin/Debug/net9.0/DistributedDebugger.Agent.pdb
DistributedDebugger/src/DistributedDebugger.Cli/bin/Debug/net9.0/DistributedDebugger.Agent.dll
DistributedDebugger/src/DistributedDebugger.Cli/bin/Debug/net9.0/debugger.runtimeconfig.json
DistributedDebugger/src/DistributedDebugger.Cli/bin/Debug/net9.0/debugger.pdb
DistributedDebugger/src/DistributedDebugger.Cli/bin/Debug/net9.0/debugger.exe
DistributedDebugger/src/DistributedDebugger.Cli/bin/Debug/net9.0/debugger.dll
DistributedDebugger/src/DistributedDebugger.Cli/bin/Debug/net9.0/debugger.deps.json
DistributedDebugger/src/DistributedDebugger.Cli/bin/Debug/net9.0/AWSSDK.SSOOIDC.dll
DistributedDebugger/src/DistributedDebugger.Cli/bin/Debug/net9.0/AWSSDK.SSO.dll
DistributedDebugger/src/DistributedDebugger.Cli/bin/Debug/net9.0/AWSSDK.Core.dll
DistributedDebugger/src/DistributedDebugger.Cli/bin/Debug/net9.0/AWSSDK.CloudWatchLogs.dll
DistributedDebugger/src/DistributedDebugger.Agent/obj/rider.project.restore.info
DistributedDebugger/src/DistributedDebugger.Agent/obj/rider.project.model.nuget.info
DistributedDebugger/src/DistributedDebugger.Agent/obj/project.packagespec.json
DistributedDebugger/src/DistributedDebugger.Agent/obj/project.nuget.cache
DistributedDebugger/src/DistributedDebugger.Agent/obj/project.assets.json
DistributedDebugger/src/DistributedDebugger.Agent/obj/DistributedDebugger.Agent.csproj.nuget.g.targets
DistributedDebugger/src/DistributedDebugger.Agent/obj/DistributedDebugger.Agent.csproj.nuget.g.props
DistributedDebugger/src/DistributedDebugger.Agent/obj/DistributedDebugger.Agent.csproj.nuget.dgspec.json
DistributedDebugger/src/DistributedDebugger.Agent/obj/Debug/net9.0/refint/DistributedDebugger.Agent.dll
DistributedDebugger/src/DistributedDebugger.Agent/obj/Debug/net9.0/ref/DistributedDebugger.Agent.dll
DistributedDebugger/src/DistributedDebugger.Agent/obj/Debug/net9.0/DistributedDebugger.Agent.sourcelink.json
DistributedDebugger/src/DistributedDebugger.Agent/obj/Debug/net9.0/DistributedDebugger.Agent.pdb
DistributedDebugger/src/DistributedDebugger.Agent/obj/Debug/net9.0/DistributedDebugger.Agent.GlobalUsings.g.cs
DistributedDebugger/src/DistributedDebugger.Agent/obj/Debug/net9.0/DistributedDebugger.Agent.GeneratedMSBuildEditorConfig.editorconfig
DistributedDebugger/src/DistributedDebugger.Agent/obj/Debug/net9.0/DistributedDebugger.Agent.dll
DistributedDebugger/src/DistributedDebugger.Agent/obj/Debug/net9.0/DistributedDebugger.Agent.csproj.FileListAbsolute.txt
DistributedDebugger/src/DistributedDebugger.Agent/obj/Debug/net9.0/DistributedDebugger.Agent.csproj.CoreCompileInputs.cache
DistributedDebugger/src/DistributedDebugger.Agent/obj/Debug/net9.0/DistributedDebugger.Agent.csproj.AssemblyReference.cache
DistributedDebugger/src/DistributedDebugger.Agent/obj/Debug/net9.0/DistributedDebugger.Agent.assets.cache
DistributedDebugger/src/DistributedDebugger.Agent/obj/Debug/net9.0/DistributedDebugger.Agent.AssemblyInfoInputs.cache
DistributedDebugger/src/DistributedDebugger.Agent/obj/Debug/net9.0/DistributedDebugger.Agent.AssemblyInfo.cs
DistributedDebugger/src/DistributedDebugger.Agent/obj/Debug/net9.0/Distribu.9639D186.Up2Date
DistributedDebugger/src/DistributedDebugger.Agent/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
DistributedDebugger/src/DistributedDebugger.Agent/bin/Debug/net9.0/DistributedDebugger.Core.pdb
DistributedDebugger/src/DistributedDebugger.Agent/bin/Debug/net9.0/DistributedDebugger.Core.dll
DistributedDebugger/src/DistributedDebugger.Agent/bin/Debug/net9.0/DistributedDebugger.Agent.pdb
DistributedDebugger/src/DistributedDebugger.Agent/bin/Debug/net9.0/DistributedDebugger.Agent.dll
DistributedDebugger/src/DistributedDebugger.Agent/bin/Debug/net9.0/DistributedDebugger.Agent.deps.json
DistributedDebugger/.idea/.idea.DistributedDebugger/.idea/indexLayout.xml
DistributedDebugger/src/DistributedDebugger.Eval/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
DistributedDebugger/src/DistributedDebugger.Eval/obj/Debug/net9.0/DistributedDebugger.Eval.AssemblyInfo.cs
DistributedDebugger/src/DistributedDebugger.Eval/obj/Debug/net9.0/DistributedDebugger.Eval.AssemblyInfoInputs.cache
DistributedDebugger/src/DistributedDebugger.Eval/obj/Debug/net9.0/DistributedDebugger.Eval.assets.cache
DistributedDebugger/src/DistributedDebugger.Eval/obj/Debug/net9.0/DistributedDebugger.Eval.csproj.AssemblyReference.cache
DistributedDebugger/src/DistributedDebugger.Eval/obj/Debug/net9.0/DistributedDebugger.Eval.GeneratedMSBuildEditorConfig.editorconfig
DistributedDebugger/src/DistributedDebugger.Eval/obj/Debug/net9.0/DistributedDebugger.Eval.GlobalUsings.g.cs
DistributedDebugger/src/DistributedDebugger.Eval/obj/DistributedDebugger.Eval.csproj.nuget.dgspec.json
DistributedDebugger/src/DistributedDebugger.Eval/obj/DistributedDebugger.Eval.csproj.nuget.g.props
DistributedDebugger/src/DistributedDebugger.Eval/obj/DistributedDebugger.Eval.csproj.nuget.g.targets
DistributedDebugger/src/DistributedDebugger.Eval/obj/project.assets.json
DistributedDebugger/src/DistributedDebugger.Eval/obj/project.nuget.cache
DistributedDebugger/src/DistributedDebugger.Eval/obj/project.packagespec.json
DistributedDebugger/src/DistributedDebugger.Eval/obj/rider.project.restore.info
*.dll
*.cache
*.pdb
DistributedDebugger/src/DistributedDebugger.Eval/bin/Debug/net9.0/DistributedDebugger.Eval.deps.json
DistributedDebugger/src/DistributedDebugger.Eval/DistributedDebugger.Eval.csproj
DistributedDebugger/src/DistributedDebugger.Eval/obj/Debug/net9.0/Distribu.552A4D83.Up2Date
DistributedDebugger/src/DistributedDebugger.Eval/obj/Debug/net9.0/DistributedDebugger.Eval.csproj.FileListAbsolute.txt
DistributedDebugger/src/DistributedDebugger.Eval/obj/Debug/net9.0/DistributedDebugger.Eval.sourcelink.json
DistributedDebugger/src/DistributedDebugger.Eval/obj/rider.project.model.nuget.info
